# Node & pnpm
node_modules
.pnpm-store
pnpm-lock.yaml

# dotenv secrets
.env

# Database data (if using local development)
db_data/

# VS Code settings
.vscode/

# OS miscellany
.DS_Store
Thumbs.db

.config/
backend/firebase-service-account.json
